<h1>Tenants</h1>

  <table>
  <tr>
    <th>First Name(s)</th>
    <th>Last Name</th>
    <th>Contact No</th>
    <th>Email</th>
    <th></th>
  </tr>
    <% @tenants.each { |tenant| %>
  <tr>
    <td><%= tenant.first_name %></td>
    <td><%= tenant.last_name %></td>
    <td><%= tenant.contact_no %></td>
    <td><%= tenant.email %></td>
    <td><a class="show" href="/tenants/<%= tenant.id %>">View Details</a></td>
  </tr>
    <% } %>
  </table>

<p>
  <a href="/tenants/new">Add New Tenant</a>
</p>
