<h1>Add new tenant</h1>

<form action="/tenants" method="post">

  <label for="first_name">First Name(s)</label>
  <input type="text" name="first_name" id="first_name">

  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" id="last_name">

  <label for="contact_no">Contact No</label>
  <input type="text" name="contact_no" id="contact_no">

  <label for="email">Email</label>
  <input type="text" name="email" id="email">

  <input type="submit" value="Add Tenant">
  <!-- add tenant_id and prop_id to rentals table tenants controller? -->

</form>

<% @tenants.each { |tenant| %>
<form action="/rentals">
  <input type="text" name="country" value=<%= tenant.id %> readonly><br>
  <input type="submit" value="Submit">
</form>
<% } %>

<% @tenants.each() { |tenant| %>
  <p>First Names(s): <%= tenant.first_name %></p>
  <p>Last Name: <%= tenant.last_name %></p>
  <p>Contact No: <%= tenant.contact_no %></p>
  <p>Email: <%= tenant.email %></p>
<% } %>

<form action="/rentals" method="POST">
  <input type="submit" value="Create Lease"
</form>
