<div class="form-container">
  <div class="form">

    <table>
      <tr>
        <th colspan="2"class="main">Contact Details</th>
      </tr>
      <tr>
          <td class="column">First Name(s):</td>
          <td class="column"><%= @tenant.first_name %></td>
      </tr>
      <tr>
          <td class="column">Last Name:</td>
          <td class="column"><%= @tenant.last_name %></td>
      </tr>
      <tr>
          <td class="column">Contact No:</td>
          <td class="column"><%= @tenant.contact_no %></td>
      </tr>
      <tr>
          <td class="column">Email</td>
          <td class="column"><%= @tenant.email %></td>
      </tr>
    </table>
    <br>

  <div class="btn--double">

  <div class="btn--wrapper">
      <form method="post" action="/tenants/<%= @tenant.id %>/delete">
        <input class="btn" type="submit" value="Delete Contact"/>
      </form>
  </div>

  <div class="btn--wrapper">
      <form method="get" action="/tenants/<%= @tenant.id %>/edit">
        <input class="btn" type="submit" value="Edit Contact">
      </form>
  </div>

  </div>

  </div>
</div>
