<h1>Property Listings</h1>

  <table>
  <tr>
    <th>Property Name</th>
    <th>Property No</th>
    <th>Street Name</th>
    <th>Town</th>
    <th>Postcode</th>
    <th>Property Type</th>
    <th>Bedrooms</th>
    <th>Price(£pcm)</th>
    <th></th>
  </tr>
    <% @properties.each { |property| %>
  <tr>
    <td><%= property.prop_name %></td>
    <td><%= property.prop_no %></td>
    <td><%= property.street_name %></td>
    <td><%= property.town %></td>
    <td><%= property.postcode %></td>
    <td><%= property.prop_type %></td>
    <td><%= property.bedrooms %></td>
    <td><%= property.price_pcm %></td>
    <td><a class="show" href="/properties/<%= property.id %>">View Details</a></td>
  </tr>
    <% } %>
  </table>

<p>
  <a href="/properties/new">Create new listing</a>
</p>
