<table class="bg-white">
  <tr>
    <th></th>
    <th>Property Details</th>
  </tr>
  <tr>
    <td><img class="listing" src="../images/awaiting_photos.jpg" alt="awaiting photos"></td>
    <td>
      <p><%=@property.prop_name%>, <%=@property.prop_no%>, <%=@property.street_name%>,  <%=@property.town%>, <%=@property.postcode%></p>
      <p>Property Type: <%= @property.prop_type %></p>
      <p>Bedrooms: <%= @property.bedrooms %></p>
      <p>Price(£pcm): <%= @property.price_pcm %></p>
    </td>
  </tr>
<table>


<form method="post" action="/properties/<%= @property.id %>/delete">
  <input type="submit" value="Delete Listing"/>
</form>

<!-- <form method="get" action="/properties//edit">
  <input type="submit" value="Edit Listing"/>
</form> -->

<!-- <form method="get" action="/tenants/new">
  <input type="submit" value="Add Tenant"/>
</form> -->
