<div class="form-container">
    <div class="form">
    <table class="leased">
      <tr><th class="main" colspan="8">Leased Properties</th></tr>
        <tr>
          <th>Property Name</th>
          <th>Property No</th>
          <th>Street Name</th>
          <th>Town</th>
          <th>Postcode</th>
          <th>Lease Start Date</th>
          <th>Tenant Count</th>
          <th>Actions</th>
        </tr>
    <% @rentals.each() { |rental| if rental.property.prop_status == "leased"%>
      <tr>
        <td class="column"><%=rental.property.prop_name%></td>
        <td><%=rental.property.prop_no%></td>
        <td class="column"><%=rental.property.street_name%></td>
        <td class="column"><%=rental.property.town%></td>
        <td class="column"><%=rental.property.postcode%></td>
        <td class="column"><%=rental.start_date%></td>
        <td class="column"> </td>
        <td><a class="show" href="/rentals/<%=rental.id%>">Add Tenant</a></td>
      </tr>
     <% end } %>
    </table>
    <br>

    <div class="btn-wrapper">
      <a class="btn" href="/rentals/new">Create Lease</a>
    </div>
</div>
