<table class="bg-white">
  <tr>
    <th colspan="2">Lease Details</th>
  </tr>
  <tr>
    <td>
      <p><%=@rental.property.prop_name%>, <%=@rental.property.prop_no%> <%=@rental.property.street_name%>,  <%=@rental.property.town%>, <%=@rental.property.postcode%></p>
      <p>Property Type: <%= @rental.property.prop_type %></p>
      <p>Bedrooms: <%= @rental.property.bedrooms %></p>
      <p>Price(£pcm): <%= @rental.property.price_pcm %></p>
    </td>
  </tr>
<table>

<form method="post" action="/rentals/<%= @rental.id %>/delete">
  <input type="submit" value="Terminate Lease"/>
</form>

<!-- <form method="get" action="/rentals/@rental.id/edit">
  <input type="submit" value="Edit Lease"/>
</form> -->
